/* App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin: 20px 0;
  }
  
  .repo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .repo-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    
  }
  
  .repo-item h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  .repo-item p {
    margin: 10px 0;
  }
  
  .repo-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
  }
  